.color-site-name{
    color:crimson;
}
body{
    font-family: 'Archivo Narrow', sans-serif;
    margin:0;
    
}
.top-section{
    display:flex;
}
.top-heading{
    font-size:45px;
}
.top-paragraph{
    font-size:20px;
}
.half-width{
    width:50%;
    margin:50px;
    padding:30px
}
.top-img{
    width:85%;
}
.order-now-button{
    font-size:20px;
    text-decoration: none;
    color:whitesmoke;
    background-image: linear-gradient(crimson,black);
    
    padding:10px 25px;
    border-radius:20px;
    opacity:0.8;
    
    box-shadow: 5px 5px 10px rgb(100, 33, 33) ;
}
.order-now-button:hover{
    opacity:1;
}
.about-me-section{
    display:flex;
    background-image: url(Frame58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
  
}
.half-width-2{
    width:50%;
    margin:20px 10px 0px 60px;

}
.recipe-text{
    width:40%;
    margin:5% 30% 5% 30%;
    text-align: center;
}
.recipe-section{
    display:flex;
}
.One-third-width{
    width:33%;
    margin:5% 5% 10% 5%;
    box-shadow: 3px 3px 10px 10px rgba(197, 193, 193, 0.87);
    padding:20px;
    border-radius: 20px;
    
}
.recipe-image{
    width:100%;
}